@font-face {
  font-family: Halis R Bold;
  src: url("../fonts/Ahmet Altun - HalisR-Bold.otf");
}

@font-face {
  font-family: Aqua Grotesque;
  src: url("../fonts/aqua.ttf");
}

@font-face {
  font-family: Raleway;
  src: url("../fonts/Raleway-Regular.ttf");
}

.top-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  background-color: white;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid rgb(228,232,228);
}

.top-nav-half {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  margin: 0;
  padding: 0;
}

.top-nav-title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-self: stretch;
  margin: 5px;
  margin-right: 10px;
  font-weight: bold;
  font-family: Halis R Bold;
}

.top-nav-title img {
  margin-right: 10px;
  height: 40px;
}

.top-nav-link {
  margin: 0 10px;
}

body {
  background-color: rgb(244,245,244);
  margin: 0;
  padding: 0;
  font-family: Raleway;
  letter-spacing: 0.5px;
}

.content {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-title {
  text-transform: uppercase;
  font-family: Aqua Grotesque;
  font-weight: normal;
  letter-spacing: 3px;
}

.content-divider {
  height: 30px;
}

.login-form {
  background-color: white;
  border-radius: 5px;
  border: 1px solid rgb(228,232,228);
  height: 300px;
  width: 450px;
  margin: 20px;
  padding: 20px;
  box-sizing: border-box;
}

.big-form-header {
  width: 900px;
  text-align: center;
  background-color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: 1px solid rgb(228,232,228);
  padding: 25px;
  margin-top: 20px;
  font-family: Aqua Grotesque;
  text-transform: uppercase;
}

.big-form-middle {
  width: 900px;
  text-align: center;
  background-color: white;
  border: 1px solid rgb(228,232,228);
  border-top: none;
  border-bottom: none;
  padding: 25px;
}

.big-form-footer {
  width: 900px;
  text-align: center;
  background-color: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px solid rgb(228,232,228);
  padding: 25px;
  font-family: Aqua Grotesque;
  text-transform: uppercase;
}

.big-form-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.big-form-footer-dot {
  width: 5px;
  height: 5px;
  border: 2px solid rgb(209,137,22);
  display: inline-block;
  transform: rotate(45deg);
  margin: 5px;
}

.big-form-footer-dot-full {
  background-color: rgb(209,137,22);
}

.big-form-footer-side {
  width: 125px;
  height: 35px;
}

.next-button {
  width: 100%;
  height: 100%;
  background-color: rgb(60,51,25);
  border-radius: 999px;
  border: none;
  color: white;
  font-family: Raleway;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
}

.next-button-last {
  background-color: rgb(209,137,22);
}
