@font-face {
  font-family: Halis R Bold;
  src: url("../fonts/Ahmet Altun - HalisR-Bold.otf");
}

@font-face {
  font-family: Aqua Grotesque;
  src: url("../fonts/aqua.ttf");
}

@font-face {
  font-family: Raleway;
  src: url("../fonts/Raleway-Regular.ttf");
}

.top-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  background-color: white;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid rgb(228,232,228);
}

.top-nav-half {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  margin: 0;
  padding: 0;
}

.grayed{
  color: #979797 !important;
}

.top-nav-title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-self: stretch;
  margin: 5px;
  margin-right: 10px;
  font-weight: bold;
  font-family: Halis R Bold;
  color: black;
  text-decoration: none;
}

.top-nav-title img {
  margin-right: 10px;
  height: 40px;
}

.top-nav-link {
  margin: 0 10px;
}

.top-nav-link a {
  color: black;
  text-decoration: none;
}

.top-nav-link a:hover {
  text-decoration: underline;
}

body {
  background-color: rgb(244,245,244);
  margin: 0;
  padding: 0;
  font-family: Raleway;
  letter-spacing: 0.5px;
  color: rgb(60,51,25);
}

.content {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-title {
  text-transform: uppercase;
  font-family: Aqua Grotesque;
  font-weight: normal;
  letter-spacing: 3px;
}

.content-divider {
  height: 30px;
}

.login-form {
  background-color: white;
  border-radius: 5px;
  border: 1px solid rgb(228,232,228);
  height: 300px;
  width: 450px;
  margin: 20px;
  padding: 20px;
  box-sizing: border-box;
}

.big-form-header {
  width: 900px;
  text-align: center;
  background-color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: 1px solid rgb(228,232,228);
  padding: 25px;
  margin-top: 20px;
  font-family: Aqua Grotesque;
  text-transform: uppercase;
}

.big-form-middle {
  width: 900px;
  background-color: white;
  border: 1px solid rgb(228,232,228);
  border-top: none;
  border-bottom: none;
  padding: 25px;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  line-height: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.big-form-middle > * {
  width: 600px;
  box-sizing: border-box;
}

.big-form-middle-annotated > * {
  width: 700px;
}

.big-form-split {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
}

.big-form-split > * {
  flex: 1;
}

.big-form-split > :first-child {
  margin-right: 15px;
}

.big-form-footer {
  width: 900px;
  text-align: center;
  background-color: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px solid rgb(228,232,228);
  padding: 25px;
  font-family: Aqua Grotesque;
  text-transform: uppercase;
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.big-form-footer-dot {
  width: 5px;
  height: 5px;
  border: 2px solid rgb(209,137,22);
  display: inline-block;
  transform: rotate(45deg);
  margin: 5px;
}

.big-form-footer-dot-full {
  background-color: rgb(209,137,22);
}

.big-form-footer-side {
  width: 125px;
  height: 35px;
}

.big-form-footer-full {
  height: 35px;
}

.next-button {
  width: 100%;
  height: 100%;
  background-color: rgb(60,51,25);
  border-radius: 999px;
  border: none;
  color: white;
  font-family: Raleway;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  cursor: pointer;
}

.next-button-full {
  padding: 0 15px;
}

.next-button-last {
  background-color: rgb(209,137,22);
}

.big-form-middle textarea,
.big-form-middle input[type=text],
.big-form-middle-three textarea,
.big-form-middle-three input[type=text],
.team-halves textarea,
.team-halves input[type=text],
.bio-form textarea,
.engage-proposal,
#support-section textarea,
textarea#experts {
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  resize: none;
  font-size: 16px;
  font-family: Raleway;
  letter-spacing: 0.5px;
  width: 100%;
  box-sizing: border-box;
}

textarea#experts {
  resize: none;
  height: 200px;
}

.big-form-middle textarea, .big-form-middle-three textarea {
  resize: none;
  height: 100px;
}

.team-switchers {
  border: 2px solid rgb(228,232,228);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  position: relative;
}

.team-switcher {
  flex: 1;
  text-align: center;
  padding: 20px 0;
  color: rgb(60,51,25);
  text-decoration: none;
  font-size: 13px;
}

.team-switchers-or {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: white;
  text-align: center;
  line-height: 30px;
  border-radius: 999px;
  left: 281px;
  top: 15px;
  border: 2px solid rgb(228,232,228);
}

.team-instructions {
  text-transform: none;
  letter-spacing: 1px;
  font-size: 13px;
  line-height: 20px;
}

.community-form {
  position: absolute;
  width: 600px;
  height: 400px;
  left: 0;
  transition: left 0.25s;
  padding: 10px;
  box-sizing: border-box;
}

#community-plus img {
  height: 45px;
}

.big-form-three {
  width: calc(100% - 50px);
  box-sizing: border-box;
}

.big-form-header-three, .big-form-middle-three, .big-form-footer-three {
  width: 100%;
  box-sizing: border-box;
}

.big-form-middle-three {
  background-color: white;
  border: 1px solid rgb(228,232,228);
  border-top: none;
  border-bottom: none;
  padding: 25px;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  line-height: 25px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.big-form-middle-trunk {
  width: 600px;
  box-sizing: border-box;
}

.big-form-middle-side {
  flex: 1;
  padding: 10px;
  padding-left: 20px;
}

.member-entry, .member-x {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.member-x img {
  height: 15px;
  margin-right: 10px;
}

.hidden-form {
  display: none;
}

.big-form-explain {
  text-transform: none;
  text-align: center;
  margin: 0;
}

.big-form-field {
  display: flex;
  flex-direction: row;
}

.big-form-field label {
  flex: 1;
}

.big-form-field-annotation {
  margin-left: 20px;
  width: 140px;
  text-transform: none;
  font-size: 10px;
  letter-spacing: 0.6px;
  padding-top: 18px;
}

.big-form-field-annotation em {
  text-transform: uppercase;
  display: block;
  font-weight: normal;
  font-style: normal;
  color: rgb(173,110,10);
}

.concept-hero {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 100px 130px;
  background-image: url(../img/hero.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.concept-hero-title {
  color: rgb(226,174,92);
  font-weight: bold;
  font-family: Halis R Bold;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  letter-spacing: 3px;
  background-image: url(../img/fancy-corner.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 150px;
  overflow: visible;
  padding-left: 45px;
  margin-left: -45px;
  padding-top: 20px;
  margin-top: -20px;
  padding-bottom: 40px;
  margin-bottom: -40px;
}

@media only screen and (max-width: 900px) {
  .concept-hero-title {
    background-image:none;
  }
}

.concept-hero-title h1 {
  margin-bottom: 5px;
}

.concept-hero-title h2 {
  margin-top: 5px;
  font-size: 15px;
}

.concept-hero-meter {
  color: white;
  text-align: center;
  font-family: Halis R Bold;
  text-transform: uppercase;
  border: 2px solid white;
  border-radius: 999px;
  width: 125px;
  height: 125px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.concept-hero-meter h1 {
  font-size: 35px;
  margin: -3px;
}

.concept-hero-meter h2 {
  font-size: 12px;
  margin: 2px;
}

.concept-tab-bar {
  background-color: rgb(60,51,25);
  padding: 0 60px;
}

.concept-tab-bar-item {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-family: Halis R Bold;
  font-size: 15px;
  text-transform: uppercase;
  padding-top: 15px;
  padding-bottom: 10px;
  margin: 0 15px;
  display: inline-block;
  border-bottom: 5px solid rgba(0,0,0,0);
}

.concept-tab-bar-item-active {
  border-bottom: 5px solid rgb(198,131,24);
}

.concept-columns {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  background-color: white;
}

.concept-column {
  padding: 30px;
}

.concept-column-middle {
  flex: 1;
  border-left: 2px solid rgb(223,223,223);
  border-right: 2px solid rgb(223,223,223);
  padding-bottom: 200px;
}

.concept-column-middle h2 {
  font-weight: bold;
  font-family: Halis R Bold;
  text-transform: uppercase;
  color: rgb(173,110,10);
  display: flex;
  align-items: center;
  letter-spacing: 4px;
}

.concept-column-middle h2 img {
  height: 25px;
  margin-right: 15px;
}

.concept-column-middle h4 {
  font-size: 13px;
  color: rgb(173,110,10);
  font-style: italic;
}

.concept-column-middle p {
  font-size: 13px;
  line-height: 22px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.concept-column-middle p a {
  color: rgb(173,110,10);
  text-decoration: none;
}

.concept-column-middle p a:hover {
  text-decoration: underline;
}

.concept-column-middle h3 {
  font-family: Halis R Bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 17px;
  line-height: 23px;
}

.drop-area {
  border: 2px dashed rgb(173,110,10);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.drop-area.drop-highlight {
  background-color: #eee;
}

.drop-area img {
  width: 50px;
}

.drop-area p {
  margin: 5px;
  font-size: 16px;
}

.drop-area a {
  text-transform: uppercase;
  color: white;
  background-color: rgb(60,51,25);
  padding: 15px 35px;
  margin-top: 10px;
  text-decoration: none;
  border-radius: 999px;
}

.drop-area a:hover {
  text-decoration: underline;
}

.concept-column-right {
  width: 250px;
}

.concept-column-right h3 {
  margin: 10px 0;
  font-family: Aqua Grotesque;
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 2px;
  font-size: 17px;
  line-height: 23px;
}

.concept-column-right h4 {
  font-size: 13px;
  margin: 10px 0;
}

.concept-column-right h4 a {
  color: rgb(173,110,10);
  text-decoration: none;
}

.concept-column-right h4 a:hover {
  text-decoration: underline;
}

.concept-column-right img.divider {
  width: 100%;
  margin: 10px 0;
}

.concept-column-right p {
  font-size: 13px;
  line-height: 22px;
}

#hidden-form {
  display: none;
}

.footer-black {
  background-color: #222830;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

.footer-black-row img {
  width: 170px;
  margin-bottom: 30px;
}

.footer-black-row a {
  color: white;
  margin: 30px 20px;
  text-decoration: none;
  text-transform: uppercase;
}

.footer-white {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.footer-white img {
  max-width: 200px;
  max-height: 80px;
  margin: 50px 0;
}

@media only screen and (max-width: 800px) {
  .footer-black-row a {
    display: block;
  }
  .footer-white {
    flex-direction: column;
  }
}

@media screen and (max-width: 1000px) {
  .big-form {
    width: 100%;
  }
  .big-form-header, .big-form-middle, .big-form-footer {
    width: 100%;
    box-sizing: border-box;
  }
  .big-form-middle p {
    width: 100%;
  }
  .big-form-field {
    flex-direction: column;
  }
  .big-form-field-annotation {
    width: 100%;
    margin: 0;
  }
}

.button-brown {
  border: 2px solid rgb(60,51,25);
  text-transform: uppercase;
  padding: 7px 14px;
  border-radius: 999px;
  margin-right: 10px;
  background-color: white;
  color: rgb(60,51,25) !important;
  white-space: nowrap;
}

.button-brown-filled {
  background-color: rgb(60,51,25);
  color: white !important;
}

.concept-columns-nav {
  padding: 15px;
  border-left: 2px solid rgb(223,223,223);
  border-bottom: 2px solid rgb(223,223,223);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

.concept-columns-nav a {
  text-decoration: none;
}

.concept-columns-nav-side {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-transform: uppercase;
}

.concept-columns-nav-side img {
  width: 35px;
  margin: 5px;
}

.concept-columns-nav-side span {
  margin: 5px;
}

.concept-columns-nav-side-right {
  color: rgb(209,137,22);
}

.concept-columns-nav-side-left {
  color: rgb(209,137,22);
}

.concept-column-left {
  padding-top: 0;
  padding-right: 40px;
  padding-left: 40px;
}

.concept-map-chunk {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  font-size: 13px;
  color: rgb(173,168,168);
}

.concept-map-chunk img {
  height: 51px;
}

.concept-map-chunk span {
  margin-left: 10px;
}

.concept-map-chunk a {
  text-decoration: none;
  color: rgb(173,168,168);
}

.concept-map-current span {
  color: rgb(209,137,22);
}

.concept-map-line-start span {
  margin-left: -48px;
}

.concept-map-line-start-engage span {
  color: rgb(193,66,30);
}

.concept-map-line-start-transform span {
  color: rgb(41,160,190);
}

.concept-map-line-current span {
  color: black;
}

.team-switchers, .team-halves {
  text-transform: uppercase;
  letter-spacing: 1px;
}

.code-section-hide, .support-section-hide {
  display: none;
}

#code-section input[type=text] {
  padding: 7px;
  border: 1px solid rgb(60,51,25);
  border-radius: 5px;
}

#support-section textarea {
  width: 100%;
  resize: none;
  height: 100px;
}

#code-section button, #support-section button, #no-support-section button, .bio-form button, .engage-form button, button.submit-proposal {
  text-transform: uppercase;
  background-color: rgb(209,137,22);
  color: white;
  border: none;
  border-radius: 999px;
  padding: 7px 14px;
  font-size: 13px;
  white-space: nowrap;
  cursor: pointer;
}

#code-section button {
  margin-left: 15px;
}

.bio-form textarea {
  width: 100%;
  resize: none;
  height: 100px;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid rgb(60,51,25);
  border-radius: 5px;
}

.bio-form input[type=text] {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid rgb(60,51,25);
  border-radius: 5px;
}

.bio-form span {
  text-transform: uppercase;
}

.line-cards {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
}

.line-card {
  text-align: center;
  margin: 15px;
  box-sizing: border-box;
  padding: 15px;
  flex: 1;
  padding-bottom: 25px;
}

.line-engage h3 {
  color: rgb(193,66,30);
  margin: 3px;
}

.line-transform h3 {
  color: rgb(62,182,210);
  margin: 3px;
}

.line-card a {
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  border: 1px solid rgb(60,51,25);
  border-radius: 999px;
  padding: 5px 13px;
  letter-spacing: 1px;
  font-size: 13px;
}

.button {
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  border: 1px solid rgb(60,51,25);
  border-radius: 999px;
  padding: 5px 13px;
  letter-spacing: 1px;
  font-size: 13px;
}
.engage-form textarea {
  width: 100%;
  resize: none;
  height: 80vh;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid rgb(60,51,25);
  border-radius: 5px;
}

.controls-line * {
  display: inline-block;
}

@media screen and (max-width: 900px) {
  .concept-columns {
    flex-direction: column;
  }
  .concept-column-middle {
    padding-bottom: 10px;
  }
  .concept-hero {
    padding: 15px;
    padding-top: 0;
  }
}

@media screen and (max-width: 1150px) {
  .line-cards {
    flex-direction: column;
  }
}

.ticket-stubs {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: stretch; }
  .ticket-stubs .ticket-stub {
    flex: 1;
    margin: 10px;
    padding: 10px;
    background: white;
    box-shadow: 0 0 6px 6px rgba(0, 0, 0, 0.1); }
    .ticket-stubs .ticket-stub h3 {
      font-family: Halis R Bold;
      text-transform: uppercase;
      font-size: 20px; }
    .ticket-stubs .ticket-stub hr {
      height: 0;
      width: 90%;
      background: none;
      border: none;
      display: block; }
    .ticket-stubs .ticket-stub p {
      font-size: 13px; }
  .ticket-stubs .ticket-stub-art h3 {
    color: #3eb6d2; }
  .ticket-stubs .ticket-stub-art hr {
    border-top: 5px dotted #3eb6d2; }
  .ticket-stubs .ticket-stub-health h3 {
    color: #d06200; }
  .ticket-stubs .ticket-stub-health hr {
    border-top: 5px dotted #d06200; }
  .ticket-stubs .ticket-stub-education h3 {
    color: #78bb33; }
  .ticket-stubs .ticket-stub-education hr {
    border-top: 5px dotted #78bb33; }

@media only screen and (max-width: 1200px) {
  .ticket-stubs {
    flex-direction: column; }
  .ticket-stub {
    flex: 0; } }

.line-button {
  text-transform: uppercase;
  color: black !important;
  font-size: 12px;
  padding: 4px 12px;
  border: 1px solid black;
  border-radius: 999px;
  display: inline-block;
}
