@font-face {
  font-family: Halis R Bold;
  src: url("../fonts/Ahmet Altun - HalisR-Bold.otf");
}

@font-face {
  font-family: Aqua Grotesque;
  src: url("../fonts/aqua.ttf");
}

@font-face {
  font-family: Raleway;
  src: url("../fonts/Raleway-Regular.ttf");
}

.top-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  background-color: white;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid rgb(228,232,228);
}

.top-nav-half {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  margin: 0;
  padding: 0;
}

.top-nav-title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-self: stretch;
  margin: 5px;
  margin-right: 10px;
  font-weight: bold;
  font-family: Halis R Bold;
}

.top-nav-title img {
  margin-right: 10px;
  height: 40px;
}

.top-nav-link {
  margin: 0 10px;
}

body {
  background-color: rgb(244,245,244);
  margin: 0;
  padding: 0;
  font-family: Raleway;
  letter-spacing: 0.5px;
  color: rgb(60,51,25);
}

.content {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-title {
  text-transform: uppercase;
  font-family: Aqua Grotesque;
  font-weight: normal;
  letter-spacing: 3px;
}

.content-divider {
  height: 30px;
}

.login-form {
  background-color: white;
  border-radius: 5px;
  border: 1px solid rgb(228,232,228);
  height: 300px;
  width: 450px;
  margin: 20px;
  padding: 20px;
  box-sizing: border-box;
}

.big-form-header {
  width: 900px;
  text-align: center;
  background-color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: 1px solid rgb(228,232,228);
  padding: 25px;
  margin-top: 20px;
  font-family: Aqua Grotesque;
  text-transform: uppercase;
}

.big-form-middle {
  width: 900px;
  background-color: white;
  border: 1px solid rgb(228,232,228);
  border-top: none;
  border-bottom: none;
  padding: 25px;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  line-height: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.big-form-middle > * {
  width: 600px;
  box-sizing: border-box;
}

.big-form-middle-annotated > * {
  width: 700px;
}

.big-form-split {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
}

.big-form-split > * {
  flex: 1;
}

.big-form-split > :first-child {
  margin-right: 15px;
}

.big-form-footer {
  width: 900px;
  text-align: center;
  background-color: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px solid rgb(228,232,228);
  padding: 25px;
  font-family: Aqua Grotesque;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.big-form-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.big-form-footer-dot {
  width: 5px;
  height: 5px;
  border: 2px solid rgb(209,137,22);
  display: inline-block;
  transform: rotate(45deg);
  margin: 5px;
}

.big-form-footer-dot-full {
  background-color: rgb(209,137,22);
}

.big-form-footer-side {
  width: 125px;
  height: 35px;
}

.next-button {
  width: 100%;
  height: 100%;
  background-color: rgb(60,51,25);
  border-radius: 999px;
  border: none;
  color: white;
  font-family: Raleway;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
}

.next-button-last {
  background-color: rgb(209,137,22);
}

.big-form-middle textarea, .big-form-middle input[type=text], .big-form-middle-three textarea, .big-form-middle-three input[type=text] {
  border: 1px solid rgb(228,232,228);
  border-radius: 5px;
  padding: 5px;
  resize: none;
  font-size: 13px;
  font-family: Raleway;
  letter-spacing: 0.5px;
  width: 100%;
  box-sizing: border-box;
}

.big-form-middle textarea, .big-form-middle-three textarea {
  resize: none;
  height: 100px;
}

.team-switchers {
  border: 2px solid rgb(228,232,228);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  position: relative;
}

.team-switcher {
  flex: 1;
  text-align: center;
  padding: 20px 0;
  color: rgb(60,51,25);
  text-decoration: none;
  font-size: 13px;
}

#add-faculty {
  border-right: 2px solid rgb(228,232,228);
}

body.viewing-faculty #add-faculty, body.viewing-community #add-community {
  background-color: rgb(198,131,24);
  color: white;
}

.team-switchers-or {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: white;
  text-align: center;
  line-height: 30px;
  border-radius: 999px;
  left: 281px;
  top: 15px;
  border: 2px solid rgb(228,232,228);
}

.team-instructions {
  overflow: hidden;
  max-height: 300px;
  transition: max-height 0.25s;
  text-transform: none;
  letter-spacing: 1px;
  font-size: 13px;
  line-height: 20px;
}

.team-halves {
  height: 400px;
  overflow: hidden;
  position: relative;
}

#faculty-list, .community-form {
  position: absolute;
  width: 600px;
  height: 400px;
  left: 0;
  transition: left 0.25s;
  padding: 10px;
  box-sizing: border-box;
}

#faculty-list {
  border: 2px solid rgb(228,232,228);
  border-top: none;
  overflow-y: auto;
}

#community-plus img {
  height: 45px;
}

body:not(.viewing-faculty) #faculty-list {
  left: -100%;
}

body:not(.viewing-community) .community-form {
  left: 100%;
}

body:not(.viewing-faculty):not(.viewing-community) .team-halves {
  max-height: 0;
}

body.viewing-faculty .team-instructions, body.viewing-community .team-instructions {
  max-height: 0;
}

.big-form-three {
  width: calc(100% - 50px);
  box-sizing: border-box;
}

.big-form-header-three, .big-form-middle-three, .big-form-footer-three {
  width: 100%;
  box-sizing: border-box;
}

.big-form-middle-three {
  background-color: white;
  border: 1px solid rgb(228,232,228);
  border-top: none;
  border-bottom: none;
  padding: 25px;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  line-height: 25px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.big-form-middle-trunk {
  width: 600px;
  box-sizing: border-box;
}

.big-form-middle-side {
  flex: 1;
  padding: 10px;
  padding-left: 20px;
}

.member-entry, .member-x {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.member-x img {
  height: 15px;
  margin-right: 10px;
}

.hidden-form {
  display: none;
}

.big-form-field {
  display: flex;
  flex-direction: row;
}

.big-form-field label {
  flex: 1;
}

.big-form-field-annotation {
  margin-left: 20px;
  width: 140px;
  text-transform: none;
  font-size: 10px;
  letter-spacing: 0.6px;
  padding-top: 18px;
}

.big-form-field-annotation em {
  text-transform: uppercase;
  display: block;
  font-weight: normal;
  font-style: normal;
  color: rgb(173,110,10);
}
