<footer>
  <div class="footer-black">
    <div class="footer-black-row">
      <a href="..">
        <img src="img/fancy-logo.png">
      </a>
    </div>
    <div class="footer-black-row">
      <a href="..">About the Project</a>
      <a href="https://wcernetwork.org/">The Network</a>
      {% if not netid %}
        <a href=".">Sign In</a>
      {% endif %}
    </div>
  </div>
  <div class="footer-white">
    <a href="http://www.wisc.edu/">
      <img src="img/logo-uw.png">
    </a>
    <a href="https://www.education.wisc.edu/">
      <img src="img/logo-education.png">
    </a>
    <a href="http://www.wcer.wisc.edu/">
      <img src="img/logo-wcer.png">
    </a>
    <a href="https://wcernetwork.org/">
      <img src="img/logo-network.png">
    </a>
  </div>
</footer>
