<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Grand Challenges</title>
  <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>

{{ include('nav.twig') }}

<div class="content">

  <h1 class="content-title">Stay informed</h1>

  <img class="content-divider" src="img/divider.png">

  <form class="big-form" method="post" action="submit-informed">
    <div class="big-form-header">
    </div>
    <div class="big-form-middle big-form-middle-annotated">
      <p class="big-form-field">
        <label>
          What is your email?<br>
          <input type="text" name="email" value="">
        </label>
      </p>
      <p class="big-form-field">
        <label>
          What interests you about the Grand Challenges?<br>
          <textarea name="interests"></textarea>
        </label>
        <span class="big-form-field-annotation">
          Optional, if you have thoughts.
        </span>
      </p>
    </div>
    <div class="big-form-footer">
      <div></div>
      <div class="big-form-footer-full">
        <button class="next-button next-button-last next-button-full" type="submit">Hook me up!</button>
      </div>
    </div>
  </form>

</div>

</body>
</html>
