<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Grand Challenges</title>
<link rel="stylesheet" type="text/css" href="css/styles.css">
<script type="text/javascript" src="js/zepto.min.js"></script>
</head>
<body>

{{ include('nav.twig') }}

<div class="concept-hero">
  <div class="concept-hero-title">
    <h1>Hello {{ netid }}</h1>
    <h2>Welcome to the Grand Challenges</h2>
  </div>
</div>

<div class="concept-tab-bar">
  <a href="." class="concept-tab-bar-item concept-tab-bar-item-active">
    Dashboard
  </a>
</div>

<div class="concept-columns">
  <div class="concept-column concept-column-left">
    <div class="concept-map-chunk">
      <img src="img/map-pipe.png">
    </div>
    <div class="concept-map-chunk concept-map-current">
      <img src="img/map-checked.png">
      <a href="meeting"><span>Meet with Network</span></a>
    </div>
    <div class="concept-map-chunk concept-map-current">
      <img src="img/map-checked.png">
      <a href="bio"><span>Project Info</span></a>
    </div>
    <div class="concept-map-chunk concept-map-current">
      <img src="img/map-checked.png">
      <a href="team"><span>Your Team</span></a>
    </div>
    <div class="concept-map-chunk concept-map-current">
      <img src="img/map-checked.png">
      <a href="support"><span>Optional Support</span></a>
    </div>
    <div class="concept-map-chunk concept-map-current">
      <img src="img/map-orange-end.png">
      <a href="line"><span>Choose Your Path</span></a>
    </div>
  </div>
  <div style="width: 100%;">
    <div class="concept-columns-nav">
      <a href="support">
        <div class="concept-columns-nav-side concept-columns-nav-side-left">
          <img src="img/arrow-gold-left.png">
          <span>Optional Support</span>
        </div>
      </a>
      <a href="paper">
        <div class="concept-columns-nav-side concept-columns-nav-side-right">
          <span>Submit Proposal</span>
          <img src="img/arrow-gold-right.png">
        </div>
      </a>
    </div>
    <div class="concept-columns">
      <div class="concept-column concept-column-middle">
        <h2>
          <img src="img/connect-dot.png">
          Choose Your Path
        </h2>
        <p>
          Select whether your Grand Challenge would be best addressed with an Engage Grant or a Transform Grant.
        </p>
        <div class="line-cards">
          <div class="line-card line-transform">
            <h3>Transform</h3>
            <p>Up to $250,000. Transform projects work toward ground-breaking change on their Grand Challenge. Teams detail why their problem is important, outline a path toward a solution or mitigation, and propose measures to assess the impact of the project.</p>
            <a href="save-transform" class="line-button">Choose Transform</a>
          </div>
          <div class="grayed line-card line-engage">
            <h3 class="grayed">Engage<br>(submission window closed)</h3>
            <p>Up to $25,000. Engage projects utilize promptly awarded funds to begin to address their Grand Challenge. Teams may implement a pilot program to meet an identified need or gather data and information needed to apply for external funding.</p>
            <span class="button grayed line-button">Choose Engage</span>
          </div>
        </div>
      </div>
      <div class="concept-column concept-column-right">

        <h3>But I want to do it all!</h3>
        <p>
          We understand. Although teams may only apply for the Engage OR Transform Grant, the Network is happy to connect you with interested foundations or donors.
        </p>
        <h3>How many grants are available?</h3>
        <p>
          Approximately 6-8 Engage Grants and 2-3 Transform Grants will be awarded.
        </p>
        <h3>When will grants be awarded?</h3>
        <p>
          Engage Grants will be awarded in Fall of 2017 and Transform Grants will be awarded in March of 2018.
        </p>
      </div>
    </div>
  </div>
</div>

{{ include('footer.twig') }}

</body>
</html>
