<!DOCTYPE html>
<html>
<head>
  <title>Grand Challenges</title>
  <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>

{{ include('nav.twig') }}

<div class="content">

  <h1 class="content-title">Login using your UW NetID</h1>

  <img class="content-divider" src="img/divider.png">

  <form class="login-form" method="post" action="login">
    <p>
      <input type="text" name="netid" placeholder="NetID">
    </p>
    <p>
      <button type="submit">Submit</button>
    </p>
  </form>

  <p>
    Having problems logging in?
    <a href="mailto:grandchallenges@education.wisc.edu">Email us</a> and we’ll get it straightened out.
  </p>

</div>

</body>
</html>
