<!DOCTYPE html>
<html>
<head>
  <title>Grand Challenges</title>
  <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>

{{ include('nav.twig') }}

<div class="content">

  <h1 class="content-title">Set up a meeting</h1>

  <img class="content-divider" src="img/divider.png">

  <form class="big-form" method="post" action="submit-meeting">
    <div class="big-form-header">
    </div>
    <div class="big-form-middle big-form-middle-annotated">
      <p class="big-form-field">
        <label>
          What is your email?<br>
          <input type="text" name="email" value="">
        </label>
      </p>
      <p class="big-form-field">
        <label>
          What is your idea?<br>
          <textarea name="idea"></textarea>
        </label>
      </p>
      <p class="big-form-field">
        <label>
          Do you have colleagues you would like to bring?<br>
          <textarea name="colleagues"></textarea>
        </label>
        <span class="big-form-field-annotation">
          Don't worry if you have no friends!
        </span>
      </p>
    </div>
    <div class="big-form-footer">
      <div></div>
      <div class="big-form-footer-full">
        <button class="next-button next-button-full" type="submit">Set up meeting</button>
      </div>
    </div>
  </form>

</div>

</body>
</html>
