<!DOCTYPE html>
<html>
<head>
<title>Grand Challenges</title>
<link rel="stylesheet" type="text/css" href="css/styles.css">
<script type="text/javascript" src="js/zepto.min.js"></script>
<script type="text/javascript">

function showCodeField() {
  $('#button-set-up').removeClass('button-brown-filled');
  $('#button-already-met').addClass('button-brown-filled');
  $('#code-section').removeClass('code-section-hide');
  $('#email-section').addClass('code-section-hide');
}

function hideCodeField() {
  $('#button-set-up').addClass('button-brown-filled');
  $('#button-already-met').removeClass('button-brown-filled');
  $('#code-section').addClass('code-section-hide');
  $('#email-section').removeClass('code-section-hide');
}

{% if data.code %}
$(function(){
  showCodeField();
});
{% endif %}

</script>
</head>
<body>

{{ include('nav.twig') }}

<div class="concept-hero">
  <div class="concept-hero-title">
    <h1>Hello {{ netid }}</h1>
    <h2>Welcome to the Grand Challenges</h2>
  </div>
</div>

<div class="concept-tab-bar">
  <a href="." class="concept-tab-bar-item concept-tab-bar-item-active">
    Dashboard
  </a>
</div>

<div class="concept-columns">
  <div class="concept-column concept-column-left">
    <div class="concept-map-chunk">
      <img src="img/map-pipe.png">
    </div>
    <div class="concept-map-chunk concept-map-current">
      <img src="img/map-orange.png">
      <a href="meeting"><span>Meet with Network</span></a>
    </div>
    <div class="concept-map-chunk">
      <img src="img/map-gray.png">
      <a href="bio"><span>Project Info</span></a>
    </div>
    <div class="concept-map-chunk">
      <img src="img/map-gray.png">
      <a href="team"><span>Your Team</span></a>
    </div>
    <div class="concept-map-chunk">
      <img src="img/map-gray.png">
      <a href="support"><span>Optional Support</span></a>
    </div>
    <div class="concept-map-chunk">
      <img src="img/map-gray-end.png">
      <a href="line"><span>Choose Your Path</span></a>
    </div>
  </div>
  <div style="width: 100%;">
    <div class="concept-columns-nav">
      <div class="concept-columns-nav-side">
      </div>
      <a href="bio">
        <div class="concept-columns-nav-side concept-columns-nav-side-right">
          <span>Project Info</span>
          <img src="img/arrow-gold-right.png">
        </div>
      </a>
    </div>
    <div class="concept-columns">
      <div class="concept-column concept-column-middle">
        <h2>
          <img src="img/connect-dot.png">
          Set up a meeting with the Network team
        </h2>
        <p>
          Before you get started with the Grand Challenges, it's important that you set up a time to meet with us at the Network so we can help you get up and running. After we all sit down and chat, you can get down to work.
        </p>
        <p>
          <a href="#" id="button-set-up" class="button-brown" onclick="hideCodeField(); return false;">Set up a meeting</a>
          <a href="#" id="button-already-met" class="button-brown" onclick="showCodeField(); return false;">We've already met</a>
        </p>
        <div id="email-section" class="code-section-hide">
          <p>
            Email <a href="mailto:grandchallenges@education.wisc.edu">grandchallenges@education.wisc.edu</a> to set up your meeting.
          </p>
        </div>
        <form id="code-section" class="code-section-hide" method="post" action="save-meeting">
          <p>
            Great! You should have received a meeting confirmation code from the Network team to proceed to the next step. Enter it below:
          </p>
          <p>
            confirmation code:<br>
            <input type="text" name="code" value="{{ data.code }}">
            <button type="submit">Save and Continue</button>
          </p>
          {% if data.code and data.code != correct_code %}
            <p>
              Incorrect code! Try again.
            </p>
          {% endif %}
        </form>
      </div>
      <div class="concept-column concept-column-right">
        <h3>But I'm soooo busy.</h3>
        <p>
          We know you've got a busy schedule, but we can work around it. We want to help you move your ideas forward and we're ready to answer all of your questions.
        </p>
        <h3>What if I don't have a team?</h3>
        <p>
          Then we'll help you find one! One of the strengths of the Grand Challenges initiative is its capacity to facilitate interdisciplinary networking and team building.
        </p>
        <h3>But there is a cat on my lap.</h3>
        <p>That's fair.</p>
      </div>
    </div>
  </div>
</div>

{{ include('footer.twig') }}

</body>
</html>
