<!DOCTYPE html>
<html>
<head>
<title>Grand Challenges</title>
<link rel="stylesheet" type="text/css" href="css/styles.css">
<script type="text/javascript" src="js/zepto.min.js"></script>
<script type="text/javascript">

$(function(){
  var counter = 0;
  $('#drop-area').bind({
    dragover: function(e){
      e.preventDefault();
      e.stopPropagation();
    },
    dragenter: function(e){
      e.preventDefault();
      e.stopPropagation();
      $('#drop-area').addClass('drop-highlight');
      counter++;
    },
    dragleave: function(e){
      e.preventDefault();
      e.stopPropagation();
      counter--;
      if (counter === 0) {
        $('#drop-area').removeClass('drop-highlight');
      }
    },
    drop: function(e){
      e.preventDefault();
      e.stopPropagation();
      counter = 0;
      $('#drop-area').removeClass('drop-highlight');
      var transfer = e.originalEvent ? e.originalEvent.dataTransfer : e.dataTransfer;
      // originalEvent for jquery (not zepto)
      if (transfer) {
        if (transfer.files.length) {
          $('#hidden-file').prop('files', transfer.files);
          $('#hidden-form').submit();
        }
      }
    },
  });

  $('#hidden-file').on('change', function(){
    if (this.files.length) {
      $('#hidden-form').submit();
    }
  });
});

function browseFiles() {
  $('#hidden-file').click();
}

</script>
</head>
<body>

<div class="top-nav">
  <div class="top-nav-half">
    <div class="top-nav-title">
      <img src="img/nav-logo.png">
      Grand Challenges
    </div>
    <div class="top-nav-link">
      Home
    </div>
    <div class="top-nav-link">
      Dashboard
    </div>
  </div>
  <div class="top-nav-half">
    <div class="top-nav-link">
      <a href="logout">Logout</a>
    </div>
  </div>
</div>

<div class="concept-hero">
  <div class="concept-hero-title">
    <h1>{{ data.project.title }}</h1>
    <h2>Project Dashboard</h2>
  </div>
  <div class="concept-hero-meter">
    <h1>25%</h1>
    <h2>completed</h2>
  </div>
</div>

<div class="concept-tab-bar">
  <a href="#" class="concept-tab-bar-item concept-tab-bar-item-active">
    Dashboard
  </a>
  <a href="#" class="concept-tab-bar-item">
    Calendar
  </a>
</div>

<div class="concept-columns">
  <div class="concept-column concept-column-left">
    <ul>
      <li>Meet with GC Team</li>
      <li>Project Setup</li>
      <li>Your Team</li>
      <li>
        Connect Phase
        <ul>
          <li>Upload Project Paper</li>
          <li>Review Pending</li>
          <li>Accepted</li>
          <li>Video</li>
          <li>Poster Faire</li>
        </ul>
      </li>
      <li>Engage</li>
      <li>Transform</li>
    </ul>
  </div>
  <div class="concept-column concept-column-middle">
    <h2>
      <img src="img/connect-dot.png">
      Connect Project
    </h2>
    <h4>
      {{ status }}
    </h4>
    <p>
      The Connect Project is a collboratively-written proposal that describes the core features of the idea.
      Your paper should address three key concepts:
      Inquiry, Innovation, and Impact.
      We go into greater detail of what we're expecting in the <a href="#">cheat sheet</a>.
    </p>
    <h3>
      When you're ready to upload, drop it here:
    </h3>
    <div id="drop-area">
      <p>
        <img src="img/pdf-file.png">
      </p>
      <p>
        Drag and drop to upload your connect project.
      </p>
      <a href="#" onClick="event.preventDefault(); browseFiles();">Or browse files</a>
    </div>
  </div>
  <div class="concept-column concept-column-right">
    <h3>What are we looking for?</h3>
    <h4><a href="#">A cheat sheet to nailing this</a></h4>
    <img src="img/divider.png">
    <h3>Hints:</h3>
    <p>
      This isn't a thesis.
      The goal here is to end up with a consise, well thought out document to show the state what challenge you intend to tackle.
    </p>
    <p>
      This paper will also be helpful to look back on to focus the project scope.
    </p>
  </div>
</div>

<form id="hidden-form" enctype="multipart/form-data" method="post" action="save-paper">
  <p>
    <input type="file" id="hidden-file" name="connect_project">
  </p>
  <p>
    <button type="submit" id="hidden-submit">Submit</button>
  </p>
</form>

</body>
</html>
