<!DOCTYPE html>
<html>
<head>
  <title>Grand Challenges</title>
  <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>

{{ include('nav.twig') }}

<div class="content">

  <h1 class="content-title">Start a proposal</h1>

  <img class="content-divider" src="img/divider.png">

  <form class="big-form" method="post" action="submit-proposal">
    <div class="big-form-header">
    </div>
    <div class="big-form-middle">
      <p>
        <label>
          What is your email?<br>
          <input type="text" value="" name="email">
        </label>
      </p>
      <p>
        <label>
          Tell us about your idea:<br>
          <input type="text" value="" name="idea">
        </label>
      </p>
      <p>
        <label>
          With whom would you like to collaborate?<br>
          <textarea name="collaborators"></textarea>
        </label>
      </p>
    </div>
    <div class="big-form-footer">
      <div></div>
      <div class="big-form-footer-full">
        <button class="next-button next-button-last next-button-full" type="submit">Send to the Network</button>
      </div>
    </div>
  </form>

</div>

</body>
</html>
