<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>

<p>Let's add some team members.</p>

<form method="post" action="/save-team">
  <p>
    <label>
      <input type="checkbox" name="team[]" value="Apple, Michael W">
      Apple, Michael W
    </label>
  </p>
  <p>
    <label>
      <input type="checkbox" name="team[]" value="Archbold, Ann M">
      Archbold, Ann M
    </label>
  </p>
  <p>
    <label>
      <input type="checkbox" name="team[]" value="Asmus, Jennifer M">
      Asmus, Jennifer M
    </label>
  </p>
  <p>
    <label>
      <input type="checkbox" name="team[]" value="Baker, Bernadette M">
      Baker, Bernadette M
    </label>
  </p>
  <p>
    <button type="submit">Submit</button>
  </p>
</form>

<p>
  <a href="/logout">Logout</a>
</p>

</body>
</html>
