<!DOCTYPE html>
<html>
<head>
<title>Grand Challenges</title>
<link rel="stylesheet" type="text/css" href="css/styles.css">
<script type="text/javascript" src="js/zepto.min.js"></script>
<script type="text/javascript">

var available_faculty = [
  'Apple, Michael W',
  'Archbold, Ann M',
  'Asmus, Jennifer M',
  'Baker, Bernadette M',
  'Bartlett, Lesley',
  'Bellmore, Amy D',
  'Benedict, Ruth',
  'Bolt, Daniel M',
];

var faculty = {};
var community = [];

function clickFaculty(e) {
  e.preventDefault();
  $(document.body).addClass('viewing-faculty').removeClass('viewing-community');
}

function clickCommunity(e) {
  e.preventDefault();
  $(document.body).removeClass('viewing-faculty').addClass('viewing-community');
}

function removeFaculty(name) {
  delete faculty[name];
  $('#faculty-list input[type=checkbox][value=\"'+name+'\"]').prop('checked', false);
  showList();
}

function removeCommunity(index) {
  community.splice(index, 1);
  showList();
}

function showList() {
  $('#members-list').html((function(){
    var str = '';
    Object.keys(faculty).forEach(function(fac){
      str += '<p class="member-entry"><a href="#" class="member-x" onClick="removeFaculty(\''+fac+'\'); return false;"><img src="img/x.png"></a><span>'+fac+'</span></p>';
    });
    community.forEach(function(com, i){
      str += '<p class="member-entry"><a href="#" class="member-x" onClick="removeCommunity('+i+'); return false;"><img src="img/x.png"></a><span>' + com.last_name + ', ' + com.first_name + '</span></p>';
    });
    return str;
  })());
}

function toggleFacultyBox(box, name) {
  if (box.checked) {
    faculty[name] = true;
  } else {
    delete faculty[name];
  }
  showList();
}

function fillFacultyList() {
  var list = $('#faculty-list');
  available_faculty.forEach(function(fac){
    list.append(
      '<p>' +
        '<label>' +
          '<input type="checkbox" onclick="toggleFacultyBox(this, \''+fac+'\')" value="'+fac+'">' +
          ' ' + fac +
        '</label>' +
      '</p>'
    );
  });
}

$(function(){
  fillFacultyList();
  $('#add-faculty').click(clickFaculty);
  $('#add-community').click(clickCommunity);
  $('#community-plus').click(function(e){
    e.preventDefault();
    community.push({
      first_name: $('#community-first-name').val(),
      last_name: $('#community-last-name').val(),
      email: $('#community-email').val(),
      bio: $('#community-bio').val(),
    });
    $('#community-first-name').val('');
    $('#community-last-name').val('');
    $('#community-email').val('');
    $('#community-bio').val('');
    showList();
  });
  $('#next-button').click(function(){
    $('#hidden-json').val(JSON.stringify({
      faculty: faculty,
      community: community,
    }));
    $('#hidden-form').submit();
  });
});

</script>
</head>
<body>

<form class="hidden-form" id="hidden-form" method="post" action="save-team">
  <input type="text" name="json" id="hidden-json">
</form>

{{ include('nav.twig') }}

<div class="content">

  <h1 class="content-title">Hey {{ data.info.first_name|default('there') }}, let's get your team set up.</h1>

  <img class="content-divider" src="img/divider.png">

  <div class="big-form big-form-three">
    <div class="big-form-header big-form-header-three">
      Great, let's add some team members
    </div>
    <div class="big-form-middle-three">
      <div class="big-form-middle-side">
      </div>
      <div class="big-form-middle-trunk">
        <div class="team-instructions">
          <p>
            You can add two different types of team members.
            Faculty members are any School of Education faculty.
            Community partners can be from other UW departments,
            our local communties, across the state, or around the world.
          </p>
        </div>
        <div class="team-switchers">
          <a href="#" class="team-switcher" id="add-faculty">
            Add SOE faculty
          </a href="#">
          <div class="team-switchers-or">
            or
          </div>
          <a href="#" class="team-switcher" id="add-community">
            Add community partner
          </a href="#">
        </div>
        <div class="team-halves">
          <div id="faculty-list">
          </div>
          <div class="community-form">
            <div class="big-form-split">
              <p>
                <label>
                  First Name<br>
                  <input type="text" id="community-first-name">
                </label>
              </p>
              <p>
                <label>
                  Last Name<br>
                  <input type="text" id="community-last-name">
                </label>
              </p>
            </div>
            <p>
              <label>
                Email<br>
                <input type="text" id="community-email">
              </label>
            </p>
            <p>
              <label>
                Bio<br>
                <textarea id="community-bio"></textarea>
              </label>
            </p>
            <p>
              <a href="#" id="community-plus"><img src="img/plus.png"></a>
            </p>
          </div>
        </div>
      </div>
      <div class="big-form-middle-side" id="members-list">
      </div>
    </div>
    <div class="big-form-footer big-form-footer-three">
      <div class="big-form-footer-side">
      </div>
      <div class="big-form-footer-dots">
        <span class="big-form-footer-dot"></span>
        <span class="big-form-footer-dot big-form-footer-dot-full"></span>
        <span class="big-form-footer-dot"></span>
      </div>
      <div class="big-form-footer-side">
        <button class="next-button" id="next-button" type="button">Next</button>
      </div>
    </div>
  </div>

</div>

</body>
</html>
